<head>
    <title>ratp-fraternite</title>
</head>

<body>
    <h1>BUS INCOMING ALERT</h1> {{> clock}} {{> bus102frat2gambetta}}
</body>

<template name="hello">
    <button>Click Me</button>
    <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="clock">
    <p id="explanation" class="">quelle heure est-il ?</p>
    <div id="clock" class="clock">loading ...</div>
</template>
<template name="bus102frat2gambetta">
    <p id="explanation" class="">dans combien de temps arrive le prochain bus (102, direction Gambetta, Arrêt Fraternité) ?</p>
    <span id="time2bus" class="time2bus">{{nextB102Frat2Gamb}} minute(s)</span>
</template>